 @import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

 .logo
{
text-transform: uppercase;
  background-image: linear-gradient(-225deg,
    #07a629 10%,
    #ecae12 67%,
    #dfdda3 100%
  );

  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;

  color: #fff;
  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear;
  margin-right: auto;
  font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


 *
 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #053e1d;
 
}

li, a, button {
    font-family: "Salsa";
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    padding: 10px;

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}


.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px, px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;

}
.nav_links li a:hover {
    color: #008a90;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1)
    border: none;
    border-radius: 50px;
    cursor: pointer: 
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8)
}


