@media screen and (min-width: 600px) {
    .element 
}
 
 @import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

 .logo
{
text-transform: uppercase;
  background-image: linear-gradient(-225deg,
    #07a629 10%,
    #ecae12 67%,
    #dfdda3 100%
  );

  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;


  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear;
  margin-right: auto;
  font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


*
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
  
}

li, a, button {
    font-family: "Salsa";
    font-weight: 1000;
    font-size: 22px;
    color: #c00b0b;
    text-decoration: none;
    padding: 10px;

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #053e1d;
}


.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px, px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;

}
.nav_links li a:hover {
    color: #dfdda3;
}

button {
    margin-left: 20px;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #59ff0c
}


.main_container {
    margin: auto;
    width: 100%;
    padding: 20px;
    background: #ecae12;
    border: 5px solid #000000;
    min-height: 500px;
    font-weight: 700;
   
} 

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
h1 {
    color:#c00b0b;
    text-align: center;
    font-style: helvetica;
}

p {
    color:#053e1d;
    text-align: center;
}

figure {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    grid-gap: 10px; 
    background-color: green; 
    padding: 10px; 
   
}

.crew {
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

section {
    display: flex;
    height: 5em;
    align-items: center;
    justify-content: center 
}
    

footer {
    background: #2c3231;
    color: #dfdda3;
    margin-bottom: auto;
   
}
